.header__left img {
  object-fit: contain;
  height: 40px;
  margin-right: 10px;
  border-radius: 5px;
}

.header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 999;
  justify-content: space-between;
  border-bottom: 0.1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100vw;
  background-color: white;

}

.header__left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-left: 50px;
}

.header__right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  gap: 20px;
  margin-right: 20px;
}

.header__search {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 43px;
  width: 400px;
  color: gray;
  background-color: #eef3f8;
}

.header__search>input {
  outline: none;
  border: none;
  background: none;
}

.headerOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  color: gray;
  cursor: pointer;
}

.headerOption:hover {
  color: black;
}

.headerOption h3 {
  font-size: 12px;
  margin-top: 10px;
  font-weight: 400;
}

.headerOption__icon {
  margin-right: 5px;
  height: 20px;
  width: 20px;
}

.avtar-nav {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {

  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }

  .col-s-2 {
    width: 16.66%;
  }

  .col-s-3 {
    width: 25%;
  }

  .col-s-4 {
    width: 33.33%;
  }

  .col-s-5 {
    width: 41.66%;
  }

  .col-s-6 {
    width: 50%;
  }

  .col-s-7 {
    width: 58.33%;
  }

  .col-s-8 {
    width: 66.66%;
  }

  .col-s-9 {
    width: 75%;
  }

  .col-s-10 {
    width: 83.33%;
  }

  .col-s-11 {
    width: 91.66%;
  }

  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {

  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}